@model IEnumerable<rmc.Models.AuthorizationSub>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AgencyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authorization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyType.AgencyTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authorization.AuthorizationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorizationSubId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorizationSubId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorizationSubId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
