@model IEnumerable<rmc.Models.Authorization>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Islessthan18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSigned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsertDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GbvCase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Islessthan18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GbvCase.GbvCaseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorizationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorizationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorizationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
